
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= reciever_name%>!</h1>
    <div>
        <p>You interview has been updated.</p>
        <p>Topic: <%= topic%></p>
        <p>Date : <%= date%></p>
        <p>Starts at : <%= start%></p>
        <p>Ends at : <%= finish%></p>
        <p>Interviewer : <%= interviewer%></p>
        <p>Candidate : <%= candidate%></p>
    </div>
  </body>
</html>